# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo

# Rider / VS Code
.idea/
.vscode/

# =========================
# Build outputs
# =========================
bin/
obj/

# =========================
# Node / Vue
# =========================
node_modules/
dist/
.vite/

# =========================
# Logs
# =========================
*.log

# =========================
# Office temp files
# =========================
~$*.docx
~$*.xlsx

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
